p{
    font-family: arial;
    margin-top:0;
    margin-bottom:0;
}


.video-title{
    font-size: 30px;
    font-weight: bold;
    font-size :18px;
    width: 280px;
    line-height: 24px; 
    margin-bottom: 5px;
}

.video-stats{
font-weight: bold;
color: rgb(96,96,96);
font-size: 15px;
height: 0px;

margin-bottom: 25px;
}

.marqus{

font-weight: bold;
font-size: 15px;
height: 0px;
margin-top: 40px;
color: rgb(96,96,96);
}

.video-description{
    font-size: 14px;
    color: rgb(96,96,96);
    width: 280px;
    line-height: 22px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.apple-text{
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: rgb(227,65,64 );
    color: white;
    font-size: 20px;
    text-align: center;
}

.shop-link{
    cursor:pointer;

}
.shop-link:hover{
    text-decoration : underline;
}